* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.docx binary
*.xlsx binary
*.tif binary
*.tiff binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
*.gz binary
